.App {
  text-align: center;
}

a{
  display: block;
}

.wrapper{
  display: grid;

  grid-template-areas: 
  "header header header"
  "navbar content content"
  "footer footer footer";

  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  border: 2px solid orangered;
}

.header{
  grid-area: header;
  background-color: rgb(54, 54, 255);
}

.header img{
   width: 45px;
   height: 45px;
   margin-top: 5px;
   margin-left: 5px;
   background-color:blanchedalmond;
}

.navbar{
  grid-area: navbar;  
  background-color: rgb(78, 78, 252);
}

.content{
  grid-area: content;
  background-color: white;
  border: 2px solid black;
}

.img-content{
  display: block;
  width: max-content;
  height: 100px;
}

.footer{
  grid-area: footer;
  background-color:gray;
}